# 15.Dictionary

### 1. Create a Dictionary with at least 5 key value pairs of the Student ID and Name

In [1]:
students = {
    101: "Ali",
    102: "Sara",
    103: "John",
    104: "Emma",
    105: "Ravi"
}

print(students)

{101: 'Ali', 102: 'Sara', 103: 'John', 104: 'Emma', 105: 'Ravi'}

### 1.1. Adding the values in dictionary

In [2]:
students[106] = "Anya"
print(students)

{101: 'Ali', 102: 'Sara', 103: 'John', 104: 'Emma', 105: 'Ravi', 106: 'Anya'}

### 1.2. Updating the values in dictionary

In [4]:
students[102] = "Sarah"
print(students)

{101: 'Ali', 102: 'Sarah', 103: 'John', 104: 'Emma', 105: 'Ravi', 106: 'Anya'}

### 1.3. Accessing the value in dictionary

In [5]:
print(students[103])  # Will print 'John'

John

### 1.4. Create a nested loop dictionary

In [6]:
nested_students = {
    201: {"name": "Ali", "age": 20},
    202: {"name": "Sara", "age": 21},
    203: {"name": "John", "age": 19}
}

print(nested_students)

{201: {'name': 'Ali', 'age': 20}, 202: {'name': 'Sara', 'age': 21}, 203: {'name': 'John', 'age': 19}}

### 1.5. Access the values of nested loop dictionary

In [8]:
nested_students = {
    201: {"name": "Ali", "age": 20},
    202: {"name": "Sara", "age": 21},
    203: {"name": "John", "age": 19}
}
for student_id, details in nested_students.items():
    print("Student ID:", student_id)
    for key, value in details.items():
        print(f"  {key}: {value}")
    print()  # for spacing

Student ID: 201
  name: Ali
  age: 20

Student ID: 202
  name: Sara
  age: 21

Student ID: 203
  name: John
  age: 19

### 1.6. Print the keys present in a particular dictionary

In [9]:
print(students.keys())

dict_keys([101, 102, 103, 104, 105, 106])

### 1.7. Delete a value from a dictionary

In [10]:
del students[104]
print(students)

{101: 'Ali', 102: 'Sarah', 103: 'John', 105: 'Ravi', 106: 'Anya'}