# 6. strings

### 1. Different ways creating a string

In [1]:
str1 = 'Hello'
str2 = "World"
str3 = """Multiline
String"""
str4 = str("Using str() function")

print(str1, str2, str3, str4)

Hello World Multiline
String Using str() function

### 2. Concatenating two strings using + operator

In [2]:
a = "Hello "
b = "World"
result = a + b
print(result)

Hello World

### 3. Finding the length of the string

In [3]:
text = "Hello World"
print(len(text))

11

### 4. Extract a string using Substring

In [4]:
text = "Hello World"
print(text[0:5])

Hello

### 5. Searching in strings using index()

In [5]:
text = "Hello World"
print(text.index("World"))

6

### 6. Matching a String Against a Regular Expression With matches()

In [6]:
import re

text = "Hello123"
pattern = "^[A-Za-z0-9]+$"

if re.match(pattern, text):
    print("Valid string")
else:
    print("Invalid string")

Valid string

### 7. Comparing strings

In [7]:
a = "hello"
b = "world"
print(a == b)  
print(a != b)

False
True

### 8. startsWith(), endsWith() and compareTo()

In [9]:
text = "hello world"
print(text.startswith("hello"))  
print(text.endswith("ld"))

True
True

### 9. Trimming strings with strip()

In [14]:
text = "     hello world   "
print(text.strip()) #removes leading and trailing spaces
#lstrip() rstrip()

hello world

### 10. Replacing characters in strings with replace()

In [15]:
text = "hello world"
print(text.replace("l", "L"))

heLLo worLd

### 11. Splitting strings with split()

In [18]:
text = "apple,banana,grape"
fruits = text.split(",")
print(fruits)

['apple', 'banana', 'grape']

### 12. Converting integer objects to Strings

In [19]:
num = 123
num_str = str(num)
print(num_str, type(num_str))  # '123' <class 'str'>

123 <class 'str'>

### 13. Converting to uppercase and lowercase

In [20]:
text = "Hello World"
print(text.upper())  
print(text.lower())

HELLO WORLD
hello world